    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Sicé Arpenteurs-Géomètre</h2>
              <br/>
                <p>Nous sommes les doyens de la Rive-Sud depuis 1962.</p>
                <p>Le document requis dans une transaction immobilière est le certificat de localisation. Sur la Rive-Sud et ailleurs, nous en avons préparé plus de 13000 depuis 53 ans.</p>
                <p>Notre étude offre également toute une gamme de services d’arpentage allant de la pose de bornes à l’expertise.</p>
                <br/>
              </div>
        </div>
    </section>
